<!doctype html>
<html>
    <head>
        <title>SocialBird Account Security</title>
        <style type="text/css">
            body {
                background-color:#81b3d4;
                color:#04253b;
                font-family:sans-serif;
                padding:50px;
            }
            button {
                font-size:larger;
            }
            div {
                padding:5px 0;
            }
            a {
                color:#fff !important;
            }
        </style>
    </head>
    <body>
        <h1>SocialBird Account Security</h1>
        {{{body}}}
        <hr />
        <p style="text-align:center;">A sample application brought to you by <a href="https://developers.messagebird.com/">MessageBird</a> :)</p>
    </body>
</html>